n8n/mail_agent_workflow.json
{
    "name": "Botfusions Mail Agent",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "filters": {
                    "readStatus": [
                        "unread"
                    ]
                }
            },
            "name": "Gmail Trigger",
            "type": "n8n-nodes-base.gmailTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are an intelligent email assistant for 'Botfusions'. Your job is to classify incoming emails and propose actions.\n\nClassify the email into one of these categories:\n- 'INQUIRY': Legitimate questions about the bot, service inquiries, or personal messages requiring a human response.\n- 'NOTIFICATION': Automated system alerts, receipts, newsletters, or informational messages (no reply needed).\n- 'SPAM': Unsolicited marketing, scams, or irrelevant junk.\n\nIf the category is 'INQUIRY', you MUST draft a polite, professional, and helpful reply in the language of the email (Turkish or English). The reply should be ready to send.\n\nReturn ONLY a valid JSON object with this structure:\n{\n  \"category\": \"INQUIRY\" | \"NOTIFICATION\" | \"SPAM\",\n  \"reason\": \"Brief explanation of classification\",\n  \"draft_reply\": \"The proposed reply text (or null if not INQUIRY)\"\n}"
                        },
                        {
                            "role": "user",
                            "content": "Subject: {{$json.subject}}\nFrom: {{$json.from}}\nSnippet: {{$json.snippet}}\n\nFull Body:\n{{$json.body}}"
                        }
                    ]
                }
            },
            "name": "AI Classifier",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                220,
                0
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const content = $input.all()[0].json.content;\n\ntry {\n  // Extract JSON if wrapped in markdown code blocks\n  const jsonMatch = content.match(/\\{.*\\}/s);\n  const jsonStr = jsonMatch ? jsonMatch[0] : content;\n  const parsed = JSON.parse(jsonStr);\n  \n  return [{\n    json: {\n      ...parsed,\n      original_email: $node[\"Gmail Trigger\"].json\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      error: \"Failed to parse JSON\",\n      raw_content: content\n    }\n  }];\n}"
            },
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "parameters": {
                                "equation": "equal",
                                "value1": "={{$json.category}}",
                                "value2": "INQUIRY"
                            },
                            "output": 0
                        },
                        {
                            "parameters": {
                                "equation": "equal",
                                "value1": "={{$json.category}}",
                                "value2": "NOTIFICATION"
                            },
                            "output": 1
                        },
                        {
                            "parameters": {
                                "equation": "equal",
                                "value1": "={{$json.category}}",
                                "value2": "SPAM"
                            },
                            "output": 2
                        }
                    ]
                }
            },
            "name": "Switch Category",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "emailType": "draft",
                "subject": "Re: {{$node[\"Gmail Trigger\"].json.subject}}",
                "toList": "={{$node[\"Gmail Trigger\"].json.from}}",
                "html": "={{$json.draft_reply.replace(/\\n/g, '<br>')}}"
            },
            "name": "Create Draft Reply",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                900,
                -100
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "operation": "removeLabels",
                "messageId": "={{$node[\"Gmail Trigger\"].json.messageId}}",
                "labelIds": [
                    "UNREAD"
                ]
            },
            "name": "Mark Read (Notification)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                900,
                100
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "operation": "removeLabels",
                "messageId": "={{$node[\"Gmail Trigger\"].json.messageId}}",
                "labelIds": [
                    "UNREAD"
                ]
            },
            "name": "Mark Read (Spam)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                900,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail account"
                }
            }
        }
    ],
    "connections": {
        "Gmail Trigger": {
            "main": [
                [
                    {
                        "node": "AI Classifier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Classifier": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Switch Category",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Category": {
            "main": [
                [
                    {
                        "node": "Create Draft Reply",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark Read (Notification)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mark Read (Spam)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Draft Reply": {
            "main": [
                []
            ]
        },
        "Mark Read (Notification)": {
            "main": [
                []
            ]
        },
        "Mark Read (Spam)": {
            "main": [
                []
            ]
        }
    }
}